name: GitHub Actions Version
on:
  push:
    tags:
      - v*
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: "change version"
        uses: reedyuk/npm-version@1.1.1
        with:
          version: "1.0.1"
          package: "subproject-directory/"
          git-tag-version: "true"
